body{
    background-color: rgb(141, 245, 245);
}


.bring{
    border: 20px;
    background-color: rgb(122, 206, 255);
    width: 90px;
    height: 30px;
    border-radius: 9px;
    float: right;
}  


